body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: white;
}
h1 {
  font-size: 50px;
  margin: 0px auto;
  text-align: center;
}
h2 {
  color: #1e202a;
  font-size: 30px;
  margin: 2rem 0;
}
h3 {
  font-size: 14px;
  color: #63687e;
}
.header {
  background-color: #f5f7ff;
  border-radius: 0 0 20px 20px;
  padding: 40px 10% 40px 10%;
}
.wrapper, .header-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 10% 0 10%;
}
.header-flex {
  margin: 0;
}
.button {
  display: flex;
  align-items: center;
}
.button h3 {
  margin-right: 15px;
}
.platform, .count {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.count {
  margin: 10px 0 15px 0;
}
.overview {
  align-items: center;
}
.overview h3 {
  margin-top: 25px;
}
.overview h2 {
  margin: 0 0 15px 0;
}
.main-container, .sub-container {
  background-color: #f0f2fa;
  border-radius: 10px;
  position: relative;
  width: 250px;
}
.main-container:hover, .sub-container:hover {
  background-color: #e5e8f6;
}
.sub-container {
  margin-bottom: 30px;
}
.mini-border {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px 5px 0 0;
}
#facebook {
  background-color: #198ff5;
}
#twitter {
  background-color: #1ca0f2;
}
#instagram {
  background: linear-gradient(to right, #fdc468, #df4996);
}
#youtube {
  background-color: #c4032a;
}
.tag {
  font-size: 12px;
  font-weight: bold;
  color: #63687e;
  margin-left: 5px;
}
.followers {
  text-transform: uppercase;
  color: #63687e;
  font-size: 12px;
  letter-spacing: 4px;
  margin: 0;
  text-align: center;
}
.change-up, .change-down {
  color: #1db489;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
}
.change-down {
  color: #dc414c;
}
.arrow {
  margin-top: 2px;
}
#overview {
  color: #63687e;
  margin: 30px 10% 15px 10%;
  font-size: 25px;
}
#total-followers {
  margin-top: -15px;
  padding-bottom: 100px;
}
#stats {
  margin-top: -100px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #378fe6, #3eda82);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #f5f7ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
  background-color: #374062;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

body.dark {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #1e202a !important;
}
.dark {
  /* The switch - the box around the slider */
  /* Hide default HTML checkbox */
  /* The slider */
  /* Rounded sliders */
}
.dark h1 {
  font-size: 50px;
  margin: 0px auto;
  text-align: center;
  color: white;
}
.dark h2 {
  color: white;
  font-size: 30px;
}
.dark h3 {
  font-size: 14px;
  color: #8b97c6;
}
.dark .header {
  background-color: #1f212e;
  border-radius: 0 0 20px 20px;
  padding: 40px 10% 40px 10%;
}
.dark .wrapper, .dark .header-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 0 10% 0 10%;
}
.dark .header-flex {
  margin: 0;
}
.dark .button {
  display: flex;
  align-items: center;
}
.dark .button h3 {
  margin-right: 15px;
}
.dark .platform, .dark .count {
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.dark .count {
  margin: 10px 0 15px 0;
}
.dark .overview {
  align-items: center;
}
.dark .overview h3 {
  margin-top: 25px;
}
.dark .overview h2 {
  margin: 0 0 15px 0;
}
.dark .main-container, .dark .sub-container {
  background-color: #252a41;
  border-radius: 10px;
  position: relative;
  width: 250px;
}
.dark .main-container:hover, .dark .sub-container:hover {
  background-color: #2a314b;
}
.dark .sub-container {
  margin-bottom: 30px;
}
.dark .mini-border {
  width: 100%;
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px 5px 0 0;
}
.dark #facebook {
  background-color: #198ff5;
}
.dark #twitter {
  background-color: #1ca0f2;
}
.dark #instagram {
  background: linear-gradient(to right, #fdc468, #df4996);
}
.dark #youtube {
  background-color: #c4032a;
}
.dark .tag {
  font-size: 12px;
  font-weight: bold;
  color: #8b97c6;
  margin-left: 5px;
}
.dark .followers {
  text-transform: uppercase;
  color: #8b97c6;
  font-size: 12px;
  letter-spacing: 4px;
  margin: 0;
  text-align: center;
}
.dark .change-up, .dark .change-down {
  color: #1db489;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  margin-left: 5px;
}
.dark .change-down {
  color: #dc414c;
}
.dark .arrow {
  margin-top: 2px;
}
.dark #overview {
  color: white;
  margin: 30px 10% 15px 10%;
  font-size: 25px;
}
.dark #total-followers {
  margin-top: -15px;
  padding-bottom: 100px;
}
.dark #stats {
  margin-top: -100px;
}
.dark .attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.dark .attribution a {
  color: #909ed5;
}
.dark .switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}
.dark .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.dark .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, #378fe6, #3eda82);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.dark .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: #f5f7ff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.dark input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
  background-color: #374062;
}
.dark .slider.round {
  border-radius: 34px;
}
.dark .slider.round:before {
  border-radius: 50%;
}

